/* 
 * 
 * (c) Copyright Ascensio System Limited 2010-2014
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * http://www.gnu.org/licenses/agpl.html 
 * 
 */

.str
{
    color: #36C;
}
.kwd
{
    color: #008;
}
.com
{
    color: #800;
}
.typ
{
    color: #606;
}
.lit
{
    color: #C00;
}
.pun
{
    color: #090;
}
.pln
{
    color: #000;
}
.tag
{
    color: #008;
}
.atn
{
    color: #606;
}
.atv
{
    color: #080;
}
.dec
{
    color: #606;
}
pre.prettyprint
{
    padding: 2px;
    border: 1px solid #888;
}
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8
{
    list-style: none;
}
li.L1, li.L3, li.L5, li.L7, li.L9
{
    background: #eee;
}
@media print
{
    .str
    {
        color: #060;
    }
    .kwd
    {
        color: #006;
        font-weight: bold;
    }
    .com
    {
        color: #600;
        font-style: italic;
    }
    .typ
    {
        color: #404;
        font-weight: bold;
    }
    .lit
    {
        color: #044;
    }
    .pun
    {
        color: #440;
    }
    .pln
    {
        color: #000;
    }
    .tag
    {
        color: #006;
        font-weight: bold;
    }
    .atn
    {
        color: #404;
    }
    .atv
    {
        color: #060;
    }
}
