<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="jabberServer" type="ASC.Xmpp.Common.Configuration.JabberConfigurationSection, ASC.Xmpp.Common"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x64;x86"/>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="core" connectionString="Server=teamlab;Database=Test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="roster" connectionString="Data Source=|DataDirectory|\Storages\Roster.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
    <add name="vcard" connectionString="Data Source=|DataDirectory|\Storages\VCard.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
    <add name="offline" connectionString="Data Source=|DataDirectory|\Storages\Offline.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
    <add name="muc" connectionString="Data Source=|DataDirectory|\Storages\Muc.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
    <add name="archive" connectionString="Data Source=|DataDirectory|\Storages\Archive.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
    <add name="private" connectionString="Data Source=|DataDirectory|\Storages\Private.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
  </connectionStrings>

  <jabberServer>

    <listeners>
      <add name="Jabber Listener" type="ASC.Xmpp.Server.Gateway.TcpXmppListener">
        <property name="maxpacket" value="524288"/>
        <property name="bindPort" value="5222"/>
      </add>
      <add name="Jabber SSL Listener" type="ASC.Xmpp.Server.Gateway.TcpXmppListener">
        <property name="maxpacket" value="524288"/>
        <property name="bindPort" value="5223"/>
        <property name="certificate" value="teamlab.cer"/>
      </add>
      <add name="Bosh Listener" type="ASC.Xmpp.Server.Gateway.BoshXmppListener">
        <property name="maxpacket" value="524288"/>
        <property name="bind" value="http://*:5280/http-poll/"/>
      </add>
    </listeners>

    <storages>
      <add name="roster" type="ASC.Xmpp.Host.ASCRosterStore, ASC.Xmpp.Host">
        <property name="connectionStringName" value="roster"/>
      </add>
      <add name="vcard" type="ASC.Xmpp.Host.ASCVCardStore, ASC.Xmpp.Host">
        <property name="connectionStringName" value="vcard"/>
      </add>
      <add name="users" type="ASC.Xmpp.Host.ASCUserStore, ASC.Xmpp.Host"/>

      <add name="offline" type="ASC.Xmpp.Server.Storage.DbOfflineStore">
        <property name="connectionStringName" value="offline"/>
      </add>
      <add name="private" type="ASC.Xmpp.Server.Storage.DbPrivateStore">
        <property name="connectionStringName" value="private"/>
      </add>
      <add name="muc" type="ASC.Xmpp.Server.Storage.DbMucStore">
        <property name="connectionStringName" value="muc"/>
      </add>
      <add name="archive" type="ASC.Xmpp.Server.Storage.DbMessageArchive">
        <property name="connectionStringName" value="archive"/>
      </add>
    </storages>

    <services>
      <!--
      <add jid="teamlab"           name="TeamLab Jabber Server"                         type="ASC.Xmpp.Server.Services.Jabber.JabberService"/>
      <add jid="jud.teamlab"       name="VCard Search"                 parent="teamlab" type="ASC.Xmpp.Server.Services.VCardSearch.VCardSearchService"/>
      <add jid="multicast.teamlab" name="TeamLab Multicast Service"    parent="teamlab" type="ASC.Xmpp.Server.Services.Multicast.MulticastService"/>
      <add jid="conf.teamlab"      name="Confrerences"                 parent="teamlab" type="ASC.Xmpp.Server.Services.Muc2.MucService"/>
      -->
      <add jid="" name="Creator" type="ASC.Xmpp.Host.CreatorService, ASC.Xmpp.Host">
        <property name="" value="ASC.Xmpp.Server.Services.Jabber.JabberService, ASC.Xmpp.Server"/>
        <property name="conference" value="ASC.Xmpp.Server.Services.Muc2.MucService, ASC.Xmpp.Server"/>
        <property name="multicast" value="ASC.Xmpp.Server.Services.Multicast.MulticastService, ASC.Xmpp.Server"/>
      </add>
    </services>

  </jabberServer>

  <system.serviceModel>
    <services>
      <service name="ASC.Xmpp.Host.JabberService">
        <endpoint address="net.tcp://localhost:9865/teamlabJabber" binding="netTcpBinding" contract="ASC.Core.Notify.Jabber.IJabberService"/>
        <endpoint address="net.pipe://localhost/teamlabJabber" binding="netNamedPipeBinding" contract="ASC.Core.Notify.Jabber.IJabberService"/>
      </service>
    </services>
  </system.serviceModel>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="Console"/>
      <appender-ref ref="LogFile"/>
    </root>

    <appender name="Console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date{HH:mm:ss.fff} %thread %logger{1}: %message%newline"/>
      </layout>
    </appender>

    <appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="ASC.Xmpp.Server.log"/>
      <appendToFile value="true"/>
      <immediateFlush value="false"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="20MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date %thread %-5level %logger - %message%newline"/>
      </layout>
    </appender>

  </log4net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
