/* 
 * 
 * (c) Copyright Ascensio System Limited 2010-2014
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * http://www.gnu.org/licenses/agpl.html 
 * 
 */

.dashboard-center-box .content .module-block .img.users {
    background-image: url("images/icon-employees.png");
} 
.dashboard-center-box .content .module-block .img.blogs {
    background-image: url("images/icon-blogs.png");
} 
.dashboard-center-box .content .module-block .img.bookmarks {
    background-image: url("images/icon-bookmarks.png");
} 
.dashboard-center-box .content .module-block .img.helpcenter {
    background-image: url("images/icon-helpcenter.png");
} 