/* 
 * 
 * (c) Copyright Ascensio System Limited 2010-2014
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * http://www.gnu.org/licenses/agpl.html 
 * 
 */

/*-----Portal document uploader---------*/
#popupDocumentUploader {
	display: none;
}
/*-header---*/
#popupDocumentUploader .popupContainerBreadCrumbs {
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	color: #666668;
}
#popupDocumentUploader .popupContainerBreadCrumbs a 
{
	color: #666668;
}
#popupDocumentUploader .popupContainerBreadCrumbs a.root,
#popupDocumentUploader .popupContainerBreadCrumbs a.root:hover
{
	text-decoration: none;
}
#popupDocumentUploader .popupContainerBreadCrumbs a.current {
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}
#popupDocumentUploader .mainContainerClass .infoPanel {
	display: none;
}
#popupDocumentUploader .mainContainerClass {
	border-color:#444;
}

/*-body---*/
p.containerCheckAll {
	padding-left: 10px;
}
p.containerCheckAll {
	width: 100%;
	overflow: hidden;
	margin-top: 7px;
}
p.containerCheckAll #checkAll, p.containerCheckAll label {
	margin-right: 8px;
	display: inline;
}
p.containerCheckAll a {
	color: #333333;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
}
#popupDocumentUploader .fileContainer {
	height: 370px;
	overflow: auto;
	margin-bottom: 20px;
	position: relative;
	border:none;
}
#popupDocumentUploader .fileContainer .loader {
	width: 50px;
	top: 65px;
	left: 260px;
	display: block;
	position: absolute;
}
#popupDocumentUploader .fileContainer ul.fileList
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

#popupDocumentUploader  .fileContainer ul.fileList li {
	display: block;
	padding: 2px 8px;
	cursor: pointer;
    border-top: 1px solid #d1d1d1;
}
#popupDocumentUploader  .fileContainer ul.fileList li[id] {
    padding: 3px 8px;
}
#popupDocumentUploader  .fileContainer ul.fileList li:hover 
{
	background-color:#f2f2f2;
}

#popupDocumentUploader  .fileContainer ul.fileList li input {
	display: inline-block;
	margin-top: 5px;
	margin-right: 10px;
}
/*----empty list Files---*/

#emptyFileList .noContentBlock.emptyScrCtrl {
    width: auto;
}
/*---file type----*/
.fileContainer ul.fileList li span.folder {
	display: block;
	background-position: 1px -39px;
	padding-left: 30px;
	margin-left: 25px;
    padding-top: 4px;
    width: auto;
}
.fileContainer ul.fileList li label {
	display:inline-block;
	padding-top:4px;
	padding-left:25px;
	white-space:nowrap;
}
