<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="webServer" type="ASC.Web.Host.Config.ServerSection, ASC.Web.Host"/>
  </configSections>

  <webServer defaultFileNames="default.aspx,default.htm,default.html,index.htm,index.html" restrictedDirs="/bin,/_private_folder,/app_browsers,/app_code,/app_data,/app_localresources,/app_globalresources,/app_webreferences" bufferSize="65536" hackWCFBinding="true" authSchemes="Anonymous">

    <sites>
      <site binding="http://*:80/" path="..\WebStudio\"/>
    </sites>

    <httpHandlers>
      <!-- extension="*" - default handler -->
      <!-- extension="/" - directory handler (.../url/) -->
      <add extension="*" handler="ASC.Web.Host.HttpHandlers.StaticFileHttpHandler"/>
      <add extension="/" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="ad" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="adprototype" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="asa" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="asax" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="ascx" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="ashx" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="asmx" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="asp" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="aspx" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="axd" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="browser" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="cd" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="cdx" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="cer" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="compiled" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="dll.config" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="exe.config" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="config" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="cs" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="csproj" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="dd" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="exclude" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="jdc" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="java" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="jsl" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="json" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="ldb" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="ldd" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="lddprototype" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="ldf" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="lic" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="licx" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="master" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="mdb" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="mdf" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="msgx" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="refresh" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="rem" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="resources" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="resx" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="sd" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="sdm" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="sdmDocument" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="shtm" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="shtml" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="sitemap" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="skin" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="soap" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="stm" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="svc" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="tml" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="vb" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="vbproj" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="vjsproj" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="vsdisco" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="xoml" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="xml" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="xsd" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="webinfo" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
      <add extension="wsdl" handler="ASC.Web.Host.HttpHandlers.AspNetHttpHandler"/>
    </httpHandlers>
  </webServer>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
